.env
.venv/
C:\E drive\A.I Classes\Agentic and Gen AI with Cloud\15 Feb\5-langgraph\.env
C:\E drive\A.I Classes\Agentic and Gen AI with Cloud\16-Feb\.env
C:\E drive\A.I Classes\Agentic and Gen AI with Cloud\22-Feb\.env
C:\E drive\A.I Classes\Agentic and Gen AI with Cloud\23-Feb\7-Workflows\.env
C:\E drive\A.I Classes\Agentic and Gen AI with Cloud\test\.env